*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    text-align: center;
    align-content: center;
    color: white;

}

.copy{
    padding: 8px;
    color: black;
    background-color: black;
}